@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.rigth {
    font-family: "Orbitron";
    font-size: 20px;
    margin-left: 20vw;
    padding: 10px;
}


.cabeçalho {

    background-color: blueviolet;
    width: 100vw;
    height: 12vh;
}

.caixa-da-image {

    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 75px;

}

.caixa-da-image img {

width: 80vw;

}

.nav {
    padding: 10px 0;
}

.info-cabeçalho {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.info-cabeçalho li {
    margin-right: 10vw;
    display: flex;
}

.info-cabeçalho a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    border-radius: 0px;
}

.descrições {
    text-align: center;
    font-size: 20px;
}

.logo2 {
    font-family: "Orbitron";
    font-size: 20px;
}

.cabeçalho2 {
    background-color: blueviolet;
    width: 100vw;
    height: 12vh;
}

.info-cabeçalho-2 {


    list-style-type: none;
    display: flex;
    justify-content: right;
}

.nav {
    padding: 10px 0;
}

.info-cabeçalho-2 {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.info-cabeçalho-2 li {
    margin-right: 10vw;
    display: flex   ;
}

.info-cabeçalho-2 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    border-radius: 0px;
}

.img2 {

    width: 793px;
    height: 779px;
    top: 174px;
    left: 120px;
}

.logo3 {
    font-family: "Orbitron";
    font-size: 20px;
}

.cabeçalho3 {
    background-color: blueviolet;
    width: 100vw;
    height: 12vh;
}

.info-cabeçalho-3 {


    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav {
    padding: 10px 0;
}

.info-cabeçalho-3 {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.info-cabeçalho-3 li {
    margin: 10vw;
    display: flex;
}

.info-cabeçalho-3 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    border-radius: 0px;
}

.imgs .img-2 {

    display: flex;
    width: 793px;
    height: 779px;
    top: 174px;
    left: 120px;

}

.imgs .img-3 {

    display: flex;
    width: 793px;
    height: 779px;
    top: 174px;
    left: 1007px;

}

.imgs{

    display: flex;
}

.textos{

margin-left: 10vw;
margin-top: 100px;
}

h1{

font-size: 64px;

}

h2{

font-size: 32px;

}
