@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.rigth {
    font-family: "Orbitron";
    font-size: 20px;
    margin-left: 10vw;
    padding: 10px;
}


.cabeçalho {

    background-color: blueviolet;
    width: 1920px;
    height: 71px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.caixa-da-image {

    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 75px;

}

.caixa-da-image img {

    width: 80vw;

}

.nav {
    padding: 10px 0;
}

.info-cabeçalho {

    list-style-type: none;
    display: flex;
    margin-left: 70vw;
}

.info-cabeçalho li {
    margin-right: 20px;
    display: flex;
    margin-right: 20px;
}

.info-cabeçalho a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    border-radius: 0px;
}

.descrições {
    text-align: center;
    font-size: 20px;
}

.logo2 {
    font-family: "Orbitron";
    font-size: 20px;
    margin-left: 10vw;
    padding: 10px;

}

.cabeçalho2 {
    background-color: blueviolet;
    width: 1920px;
    height: 71px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.nav {
    padding: 10px 0;
}

.info-cabeçalho-2 {

    list-style-type: none;
    display: flex;
    margin-left: 70vw;
}


.info-cabeçalho-2 li {

    margin-right: 20px;
    display: flex;
}

.info-cabeçalho-2 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    border-radius: 0px;
}

.img2 {

    width: 793px;
    height: 779px;
    top: 174px;
    left: 120px;
}

.logo3 {
    font-family: "Orbitron";
    font-size: 20px;
    margin-left: 10vw;
    padding: 10px;
}

.cabeçalho3 {
    background-color: blueviolet;
    width: 1920px;
    height: 71px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.nav {
    padding: 10px 0;
}

.info-cabeçalho-3 {
    list-style-type: none;
    display: flex;
    margin-left: 70vw;
}

.info-cabeçalho-3 li {

    margin-right: 20px;
    display: flex;
}

.info-cabeçalho-3 a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    border-radius: 0px;
}

.imgs .img-2 {

    display: flex;
    width: 793px;
    height: 779px;
    top: 174px;
    left: 120px;

}

.imgs .img-3 {

    display: flex;
    width: 793px;
    height: 779px;
    top: 174px;
    left: 1007px;
    margin-left: 5%;

}

.imgs {

    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.textos {

    margin-left: 10vw;
    margin-top: 100px;
}

h1 {

    font-size: 64px;

}

h2 {

    font-size: 32px;

}

.img-left {

    width: 36vw;
    height: 35vw;
    margin-top: 5%;
    margin-left: 10vw;


}

.text-right {

    width: 35vw;
    height: 45vw;
    margin-top: 5%;
    margin-right: 10vw;


}

.div-pai {

    display: flex;
    justify-content: space-between;


}